*{box-sizing:border-box;}

body{
  margin:0;
  font-family:Arial, sans-serif;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:15px;
  background:#fff;
  color:#222;
  flex-direction:column;
}

h1{
  font-size:22px;
  margin-bottom:10px;
}

h2{
  font-size:20px;
  margin-bottom:10px;
}

p{
  font-size:16px;
  line-height:1.4;
  margin:5px 0;
}

.small{
  font-size:12px;
  color:#666;
  margin-top:8px;
}

button{
  margin-top:15px;
  padding:14px 20px;
  font-size:16px;
  width:100%;
  max-width:350px;
  border:none;
  border-radius:8px;
  background:#ff4ecd;
  color:white;
  cursor:pointer;
}

#passwordScreen, #finalScreen{
  display:none; /* ocultas por defecto */
  width:100%;
}

pre{
  font-family:Arial,sans-serif;
  font-size:18px;
  line-height:1.4;
  white-space:pre-wrap;
  text-align:center;
  color:#ff4ecd;
}
