body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2b1055);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.screen {
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.counter {
  color: #ff4ecd;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #ff4ecd;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #ff77dd;
}

/* CONSOLA */

.console {
  background: black;
  color: #00ff88;
  font-family: "Courier New", monospace;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.hidden {
  display: none;
}
