body{
  margin:0;
  font-family:Arial, sans-serif;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#1e1e2f;
  color:white;
}

/* Pantalla normal */
#mainScreen{
  text-align:center;
}

/* Consola */
#consoleScreen{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.consoleContent{
  text-align:center;
}

pre{
  font-family: "Courier New", monospace;
  font-size:14px;
  line-height:1.2;
  white-space:pre;
}

.rose{
  color:#ff2e2e;
}

.commands{
  color:#00ff88;
  margin-top:20px;
}

.hidden{
  display:none !important;
}

button{
  padding:12px 20px;
  font-size:16px;
  border:none;
  border-radius:6px;
  background:#ff4ecd;
  color:white;
  cursor:pointer;
}
