*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#1e1e2f;
  color:white;
  font-family:Arial, sans-serif;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

#mainScreen{
  width:100%;
  max-width:400px;
}

h1{
  font-size:20px;
  line-height:1.4;
}

#contador{
  color:#ff4ecd;
  font-weight:bold;
}

button{
  margin-top:20px;
  padding:14px 20px;
  font-size:16px;
  width:100%;
  border:none;
  border-radius:8px;
  background:#ff4ecd;
  color:white;
  cursor:pointer;
}

#consoleScreen{
  position:fixed;
  inset:0;
  background:black;
  display:none;
  justify-content:center;
  align-items:center;
  padding:15px;
}

#consoleScreen.active{
  display:flex;
}

.consoleBox{
  width:100%;
  max-width:100%;
}

pre{
  font-family:Courier, monospace;
  font-size:7px; 
  line-height:1.1;
  white-space:pre;
  text-align:left;
  overflow-x:auto;
}

.rose{
  color:#ff2e2e;
}

.commands{
  color:#00ff88;
  margin-top:10px;
  text-align:center;
}
